#slideshow {
    position:relative;
    padding: 10px 10px 10px 10px;
    width: 555px;
	height: 273px;
    overflow: hidden;
}
 
#slideshow img {
    position:absolute;
    top:10;
    left:10;
    z-index:8;
    opacity:0.0;
    width: 555px;
	height: 273px; 
}
 
#slideshow img.active {
    z-index:10;
    opacity:1.0;
}
 
#slideshow img.last-active {
    z-index:9;
}
